* {
    margin: 0;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
}

  body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat:no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: contain;
    /*margin-top: 20px;*/
    
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 8px;
  }
  
  
  .logo {
    align-self: flex-start;
    width: 35%;
    margin-left: 7%;
    margin-top: 5%;
    padding: 0;
  }
  
  .mockup {
    width: 85%;
    padding-top: 15%;
    padding-left: 8%;
  }
  
  
  div h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 15%;
    font-size: 1.5em;
    padding: 1% 8%;
    font-weight: 400;
    text-align: center;
  }
  
  div p {
    color: #ffffff98;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    padding: 1% 8%;
  }
  
  div button {
    border-radius: 20px;
    border: none;
    color:  hsl(257, 40%, 49%);
    font-size: 0.8em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.296);
    width: 175px;
    padding: 10px;
    text-align: center;
    margin: 5% 25%;
  }
  div button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor:pointer;
  }
  
  .bottom {
  
    margin: 20% auto;
  }
  
  .fab {
    
    border: 1px solid white;
    border-radius: 50%;
    padding: 6px;
    color: white;
    margin: 5px;
    /*text-align: center;*/
  }



@media screen and (min-width: 415px) {
 
  * {
    padding: 0;
    margin: 0;
  }
  
  body {
    background: url(./images/bg-desktop.svg) no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin-left: 50px;
    margin-top: 50px;
    padding: 0;
  }
  
  .logo {
    margin: 0;
    padding-left: 5%;
    padding-top: 50px;
  }
  
  .mockup {
    width: 55%;
    margin-top: 25px;
    padding: 0;
  }
  
  div {
    width: 40%;
    align-self: flex-start;
    margin-top:80px;
    margin-right: 60px;
    
  }
  
  div h1 {
    font-size: 2.5em;
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    text-align: left;
  }
  
  div p {
    font-size: 1em;
    width: 85%;
    /*padding: 10%;*/
    margin-top: 40px;
    color: white;
    text-align: left;
  }
  
  .logo {
    width: 250px;
  }
  
  footer {
    margin: 0;
    
  }
  
  div button {
    margin: 0;
    padding: 0;
    
    border-radius: 50px;
    border: none;
    color:  hsl(257, 40%, 49%);
    font-size: 1em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.296);
    text-align: center;
    width: 150px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 40px;
  }

  .bottom {
    margin: 0;
    margin-left: 1200px;
  }
  

}


  
